<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence"
    >
    <persistence-unit name="simpleorganizerPU"
        transaction-type="JTA">
        <jta-data-source>java:/simpleorganizer</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <jar-file>lib/entities-${project.version}.jar</jar-file>
        <properties>
            <property name="javax.persistence.schema-generation.database.action"
                value="${db.action}" />
            <property name="javax.persistence.schema-generation.create-source"
                value="metadata" />
            <property
                name="javax.persistence.schema-generation.create-database-schemas"
                value="${db.create-schema}" />
            <property name="javax.persistence.sql-load-script-source"
                value="${db.insert-sql-file}" />

            <!-- Properties for Hibernate -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
            <property name="hibernate.show_sql" value="false" />
            <property name="hibernate.format_sql" value="false" />
        </properties>
    </persistence-unit>
</persistence>
